@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Kaushan+Script&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
}

#quote {
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 105px;
  padding-left: 105px;
  margin-top: 80px;
  opacity: 80%;
}

.div-1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-image: url(https://www.alliancereit.com/img/alliance-2.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* filter: blur(3px) */
}
.name-header{
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Arima Madurai', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 90%;
  width: 75%;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#name{
  margin-top: 70px;
}

i {
  float: right;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px
}

i:nth-last-child() {
  padding-right: 50px
}



.div-3{
  display: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  background-image: url(house.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.div-4{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20vh;;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  z-index: -1;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px !important;
  background-color: transparent !important;
  z-index: 1;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background-color: transparent !important;
  z-index: 1;
}

.swiper-slide:hover{
  transform: rotateY(180deg);
  transition: transform 0.6s;
}

.c-image {
    width: 100%;
    height: 400px;
}

.flip-card {
/* position: relative; */
/* left: 200px;
top: 530px; */
background-color: transparent;
height: 300px;
width: 300px;
font-size: 14px;
perspective: 1000px;
}
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 10px;
/* font-family: 'FontAwesome';content: '\f00d'; */
}
.flip-card-front {
background-color: transparent;
color: black;
}
.flip-card-back {
background-color: transparent;
color: white;
transform: rotateY(180deg);
cursor: pointer;
}
.flip-card-front p {
box-sizing: border-box
;
font-size: 14px;
text-align: center;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 2px;
padding-right: 2px;
}
video {
height: 300px;
width: 100%;
overflow: hidden;
border-radius: 10px;
/* border-style: none; */
}
img {
height: 300px;
width: 100%;
overflow: hidden;
border-radius: 10px;
/* border-style: none; */
}

#food-front, #scheduler-front, #typer-front,
#music-front, #password-front, #movie-front,
#hangman-front, #quiz-front, #lyricSearch-front, 
#memoryCard-front, #meditation-front {
  background-image: url(https://woz-u.com/wp-content/uploads/2019/09/html-css-js.png);
  background-size: 300px 300px;
  font-size: 45px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px whitesmoke;
  box-shadow: 2px 2px whitesmoke;
}

#calculator-front, #rps-front, #pong-front {
  background-image: url(https://clip.cookdiary.net/sites/default/files/wallpaper/python-logo-clipart/178242/python-logo-clipart-green-python-178242-9379865.png);
  background-size: 300px 300px;
  font-size: 45px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px whitesmoke;
  box-shadow: 2px 2px whitesmoke;
}

#ips-front, #rsa-front{
  background-image: url(https://www.qdoscc.com/sites/default/files/excel_titlepg_icon_2.png);
  background-size: 300px 300px;
  font-size: 45px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px whitesmoke;
  box-shadow: 2px 2px whitesmoke;
}

#mongochat-front{
  background-image: url(https://www.oreilly.com/content/wp-content/uploads/sites/2/2019/06/node-c4e49c25d15310e98fdd371dedc83f2e.jpg);
  background-size: 300px 300px;
  font-size: 45px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  text-shadow: 1px 1px whitesmoke;
  box-shadow: 2px 2px whitesmoke;
  
}


/*  */

.car { 
  width:20%;
  position: absolute;
  margin-top: 150px;
  margin-left: 30px;
}

.carousel-control-next-icon {
  right: 130px;
  opacity: 0;
}
.carousel-control-prev-icon {
  opacity: 0;
}

.res {
  width: 700px;
  height: 300px;
  background-color: rgba(145, 145, 145, 0.7);
  position: absolute;
  margin-right: auto;
  margin-left: 525px;
  margin-top: 150px;
  border-radius: 15px;
  border-style: solid;
  border-width: 7px;
}



.photo-swiper-container{
  width: 300px;
  height: 300px;
  padding-top: 100px;
  margin-right: 50px;
  top: 90px;
  bottom: 0;
}

.swiper-bio-slide{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  top:-50px;
  border-radius: 15px;
}

/*  */


#cf {
  position: absolute;
  height: 200px;
  width: 300px;
}


#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

.mySlides1, .mySlides2 {
  display: none
}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

.bg-modal {
  width: 100%;
  height: 150%;
  position: fixed;
  top: 0;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

}

.modal-content {
  width: 700px;
  height: 700px;
  background-color: whitesmoke;
  border-radius: 50%;
  top: -190px;
  left: 0;
  position: absolute;

  text-align: center; 
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.invisible {
  visibility: hidden;
  }

  .multi-collapse {
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }

  .obj{
    height: 231px !important;
    width: 685px !important;
    left: -15px !important;
  }

  .fa-address-card:hover{
    cursor: pointer;
    opacity: 70%;
  }



  /*  */

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

.invisible {
  visibility: hidden;
  }

.btnWidth {
  width: 685px;
  margin-left: -15px;
}

.expndWidth {
  width: 100%;
  height: auto;
}

.card-resume{
  width: 685px;
  height: 248px;
  top: -36px;
  left: -15px;
  background-image: url(res/resume.jpg);
  background-size: cover;
  cursor: pointer;
}

.card-testimonial{
  width: 685px;
  height: 248px;
  top: -36px;
  left: -15px;
  background-image: url(res/testimonials.jpg);
  background-size: cover;
  cursor: pointer;
}

.card-portfolio{
  width: 685px;
  height: 248px;
  top: -36px;
  left: -30px;
  background-image: url(res/portfolio.jpg);
  background-size: cover;
  cursor: pointer;
}